<div class="fm-panel">
  <h4>Help</h4>
  <div>
    <h4>Until how late do you deliver?</h4>
    <p>Delivery time vary from Restaurant to Restaurant, for more info you can check details on each Restaurant menu page.</p>

    <h4>What payment methods do you accept?</h4>
    <p>We gladly accept all major credit cards. Except American Express (AMEX)</p>

    <h4>I got an extra chocolate muffin with my order, what is this about?</h4>
    <p>That's just a small thank-you gift from FoodMe. Enjoy it!</p>
  </div>
</div>
