<div class="fm-panel">
  <h4>Who we are</h4>
  <div>
    <p></p>
    <ul>
      <img src="../img/github.svg" alt="github" /> If you liked this project, please give it a star ⭐️ <a href="https://github.com/dvst/foodme-platzi" target="_blank">https://github.com/dvst/foodme-platzi</a> 
      <a href="https://github.com/dvst/foodme-platzi" target="_blank">
        <img src="https://img.shields.io/github/stars/dvst/foodme-platzi?style=social" alt="GitHub Star Badge">
      </a>      
    </ul>
    <p>
      <a href="https://twitter.com/javitech_co" target="_blank"><img src="https://img.shields.io/twitter/follow/javitech_co?style=social" alt="twitter" /></a>
       <a href="https://www.linkedin.com/in/javierperezp/" target="_blank"><img src="https://img.shields.io/badge/-Javier%20Perez-blue?style=flat-square&logo=Linkedin&logoColor=white" alt="LinkedIn Badge"></a> 
       <a href="https://www.javitech.co/" target="_blank"><img src="https://img.shields.io/badge/website-www.javitech.co-56FF8D?style=flat" alt=""></a>
      </p>    

  </div>
</div>
